################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Solution.s

.vs/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
